@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    @apply bg-jeek-gray-600 text-jeek-gray-100;
}

.casa-tabuleiro {
    @apply w-12 h-12 md:w-24 md:h-24 bg-jeek-gray-200 border border-jeek-gray-500 cursor-pointer;
}
.casa-topo-esquerda {
    @apply rounded-tl-[20px];
}
.casa-topo-direita {
    @apply rounded-tr-[20px];
}
.casa-baixo-esquerda {
    @apply rounded-bl-[20px];
}
.casa-baixo-direita {
    @apply rounded-br-[20px];
}
#btns-jogo-div {
    @apply gap-4 pt-6;
}
#btns-jogo-div button {
    @apply w-16 md:w-28 p-3 py-4 md:p-4 rounded-full mb-4 text-xl text-white font-bold;
}
#terminar-vez-btn {
    @apply bg-blue;
}
#desistir-btn {
    @apply bg-red
}
#restart-btn {
    @apply bg-jeek-gray-500;
}

.relogio-brancas,
.relogio-pretas {
    @apply w-40 rounded-full text-3xl font-bold 
    p-4 border-4 text-center mb-4;
}
.relogio-brancas {
    @apply bg-white text-jeek-gray-600 border-white;
}
.relogio-pretas {
    @apply border-white text-white;
}

.peca-preta,
.peca-branca{
    @apply w-8 h-8 m-2 md:w-16 md:h-16 md:m-4 rounded-full flex justify-center md:text-[40px];
    box-shadow: -2px -2px 8px #C9C9C9, 6px 6px 14px rgba(0, 0, 0, 0.4);
    align-items: center;
}
.peca-branca {
    @apply bg-white;
}
.peca-preta {
    @apply bg-jeek-gray-700;
}

.centralizador {
    @apply flex justify-center;
}

.container-tempo {
    @apply w-full h-full text-center cursor-pointer border-2 rounded-md shadow-lg transition ease-in-out
    border-jeek-gray-200 hover:border-blue hover:bg-blue hover:text-jeek-gray-700;
}
.container-tempo a {
    @apply w-full h-full;
}
.container-tempo h3 {
    @apply font-bold text-xl px-4 pt-16;
}
.container-tempo p {
    @apply text-lg;
}